APP_NAME=Fall Detection API
APP_ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1
HOST=0.0.0.0
PORT=8000

DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/fall_detection_db

MEDIA_ROOT=storage
SNAPSHOT_DIR=storage/snapshots
VIDEO_DIR=storage/videos
MODEL_DIR=storage/models
MODEL_FILE_PATH=storage/models/fall_detector_v1.pkl

FALL_CONFIDENCE_THRESHOLD=0.60
SAMPLE_EVERY_N_FRAMES=5
MAX_FRAMES_TO_PROCESS=900
CORS_ALLOW_ORIGINS=["*"]
